In [1]:
#Get all keywords in python 3
import keyword
#print (keyword.kwlist)
#print ("no. of keywords: " ,len(keyword.kwlist))
"Total no. of Keywords", keyword.kwlist

('Total no. of Keywords',
 ['False',
  'None',
  'True',
  'and',
  'as',
  'assert',
  'async',
  'await',
  'break',
  'class',
  'continue',
  'def',
  'del',
  'elif',
  'else',
  'except',
  'finally',
  'for',
  'from',
  'global',
  'if',
  'import',
  'in',
  'is',
  'lambda',
  'nonlocal',
  'not',
  'or',
  'pass',
  'raise',
  'return',
  'try',
  'while',
  'with',
  'yield'])

In [2]:
#variable name must start from alphabate and should not contain any spaces (we can then use underscore's and numbers)
a_12=12

In [3]:
#Cannot use keywords as an variable name
global =1

SyntaxError: invalid syntax (<ipython-input-3-31dce2486d49>, line 2)

In [ ]:
#We cannot use special character in variable
a@ =10

In [ ]:
#comment
#This is comment
'''This is 3 quotes comment'''
"""This 
is
multiline
comment"""

In [ ]:
#indentation
#if not defined then i starts from 0
for i in range (10):
    print(i)

In [ ]:
#indentation error
for i in range (10):
    print(i)
 print(100)

In [ ]:
#interpretability of python (readability)
if True:
    print ("Data Science")
    z = "Machine Leaning"
    print(z)

In [ ]:
if True:print ("Data Science"); z = "Machine Leaning"; print(z)

In [ ]:
#statements
a=1 #Single line statement

In [ ]:
#multiline statement
a= 1+2+3+\
        4+5+\
            6+7+8
print (a)

In [ ]:
#multiline statement
a= (1+2+3+
   4+5+6+
   7+
   8)
print(a)

In [ ]:
#multiple statement in same line
a= 1; b=2 ; c=3

In [ ]:
#Variable assignment (Multiple)
a,b,c = 10,5.5,"ML"
print (a,b,c)

In [ ]:
#Variable assignment (Multiple)
a=b=c= "AI"
print (a,b,c)

In [ ]:
#Storage Location
#a=b=c= "AI"
print (id(a))

In [ ]:
#first data is created and then variable is created and directed toward the data pt
print (id(b))
print (id(c))

In [ ]:
#Now we change the value
c="ML"
print (id(c))

# Data Types

In [ ]:
a = 5
print (a, "is a type of ", type(a))

In [ ]:
a= 5.5
print (a, "is a type of ", type(a))

In [ ]:
a = 1 + 2j
print (a, "is a type of ", type(a))
print (isinstance (a,complex))

In [4]:
a = "ML"
print (a, "is a type of ", type(a))

ML is a type of  <class 'str'>

In [5]:
a = True
print (a, "is a type of ", type(a))

True is a type of  <class 'bool'>

# Python strings

In [6]:
#In python string is a sequence of unicode characters (Not ASCII). It can store non english characters.

In [7]:
s = "This is my python notebook"
print (s, "is a type of ", type(s))

s = """This is 
my python notebook"""      #multiline string """ string """

This is my python notebook is a type of  <class 'str'>

In [8]:
print (s[0])

T

In [9]:
print (s[-1])
print (s[len(s)-1])
print (len(s))

k
k
27

In [10]:
#for i in range (len(s)):
#    print (s[i])

In [11]:
#slicing
s[5:26]  #from 5th index to 26th index hence K is not printed

'is \nmy python noteboo'

In [12]:
print (s[5:])

is
my python notebook

# Python List

In [13]:
a = [10, 20.5, "Hello"]
print (type(a))

<class 'list'>

In [14]:
print (a[0])
print (a[1])
print (a[2])
print (type(a[2]))

10
20.5
Hello
<class 'str'>

In [15]:
for i in range (len(a)):
    print (a[i])
    print (type(a[i]))

10
<class 'int'>
20.5
<class 'float'>
Hello
<class 'str'>

List are Mutable

In [16]:
a[2]= 'Machine Learning'
print (a)

[10, 20.5, 'Machine Learning']

# Python Tuple

In [17]:
t = (1, 1.5, "DSML")
print (t)

(1, 1.5, 'DSML')

In [18]:
print (t[0])
print (t[1])
print (t[2])
print (type(t[2]))

1
1.5
DSML
<class 'str'>

Tuples are IMMUTABLE (you cannot edit them)

In [19]:
t[2]="Machine Learning"

TypeError: 'tuple' object does not support item assignment

# Python Set

In [ ]:
s = {10, 20, 30, 40}

print (type(s))
print (s[0])
print (s[1])
print (s[2])
print (type(s[2]))

In [ ]:
#set is unordered collection of objects .'. Indexing does not works
print (s)

In [ ]:
#Set only store unique values (union/intersection etc)
s = {10, 10, 20, 20, 20, 30, 40, 50, 50 ,50}
print (s)

# Dictionary

In [ ]:
d = {'a' : 1, 'b' : 'ball', c: 'cat'}    # Key = 'a' : Value= '1'
print (d)

In [ ]:
print (type(d))
print (d[c])
print (type(d[c]))
print (d['a'])
print (type(d['a']))

In [ ]:
d['a'] = 'apple'

In [ ]:
print (d)

In [ ]:
print (d[1])  #when key is not presnt in not present in a Dictionary then we get Key error

In [ ]:
d = {'a' : (1, 2, 3 ), 'b' : 'ball', c: 'cat'}
print (d['a'])

# Converting Data Types

In [ ]:
a = 5
b= float(a)
print (b)

In [ ]:
print (str (a))
str(b)

In [ ]:
int('10.0')

In [ ]:
int ('10p')

In [ ]:
a = 10.1
int(a)

In [ ]:
user = "Alan martin"
no = 1

print ("Do you know that" + user + " is number " + no)

In [ ]:
print ("Do you know that" + user + " is number " + str(no))

# Converting Data structures

In [ ]:
a = [1,2,3,3,4,4]
print (type(a))
print (a)

In [ ]:
s= set(a)
print (type(s))
print (s)

In [ ]:
h = "Hello World"
l = list(h)
print(type(l), "       ", (l))

In [ ]:
end = str(l)
print (end)

In [ ]:
end = ''
for i in range (len(l)):
    end += l[i]
    
print (end)

# Functions

In [ ]:
def list2str (z):
    end=''
    for i in range (len(z)):
        end += z[i]
    return end

In [ ]:
h = 'Himanshu Pandey'
name = list(h)
print (name)

In [ ]:
my_name= list2str(name)
print (my_name)

# Functions vs Variables

In [ ]:
#we already have function called list2str
k = 'himanshu'
j = list(k)
fvsv = list2str(j)
print (fvsv)

# Input & Output

In [ ]:
print ("Hello World")

In [ ]:
a = 10

print ("The value of a is ", a)
print ("The value of a is " + str(a))

In [ ]:
a = 10 ; b = 20

#printf i.e. print format

print ("the value of a is {} and the value of b is {}".format(a,b))

In [ ]:
print ("the value of a is {1} and the value of b is {0}".format(a,b)) #position of the value

In [ ]:
print ("the value of a is {1} and the value of b is {2}".format(a,b))

In [ ]:
print ("Hello {0}, {4}".format('akshay', 'aakash', 'arjun', 'abhishek', 'Good Morning', 'Good Night'))

In [ ]:
print ("Hello {name[0]}, {Greeting[0]}".format(
    name=['akshay', 'aakash', 'arjun', 'abhishek'], 
    Greeting= ['Good Morning', 'Good Night']))

In [ ]:
print ("Hello {name}, {Greeting}".format(name='akshay', Greeting='Good Morning'))

## Input

In [ ]:
name = input('Enter your name: ')
print ("Hello " + name + " Good Afternoon")

In [ ]:
print (name)

# String VS List

In [ ]:
s = "Himanshu"
l = ['P','a','n','d','e','y']

In [ ]:
print (s[0]*2)
print (l[0]*2)

# OPERATORS

operators & Operands

## Arithmatic Operators

In [ ]:
x,y = 10,20

# Addition (+)
print (y+x)

In [ ]:
# subtraction (-)
print (y-x)

In [ ]:
# Multiplication
print (y*x)

In [ ]:
# Division (/)
print (y/x)

In [ ]:
# Modulo Division (Remainder) (%)
print (y%x)

In [ ]:
# Floor Division (//)
print (y//x)

In [ ]:
#Exponent (**)
a= 2
b= 3
print (a**3) #a^3 or a-cube

## Comparision Operators

In [ ]:
a,b = 10,20   # comparision operator have Boolean o/p (True OR False)

# Less than <
print (a<b)


# Greater than >
print (a>b)

# equal to ==
print (a==b)

# not equal to !=
print (a!=b)

# greater than equal to >=
print (a>=b)

# less than equal to <=
print (a<=b)

## Logical Operator

   ### AND, OR, NOT
   
##### AND Logic Table
TT--T
TF--F
FT--F
FF--F

##### OR Logic Table
TT--T
TF--T
FT--T
FF--F

In [ ]:
a,b = True, False
print (a and b)
print (a or b)
print (not b)

# Bitwise Operator

In [ ]:
# Bitwise operation
# 10 [1,0,1,0]
# 4  [0,1,0,0]
a,b = 10, 4

#Bitwise AND (&)
print (a & b)

#Bitwise OR (|)
print (a | b)       # [1,1,1,0]---14

#Bitwise NOT XOR Rightshift

# Assignment Operators

## =,  +=,  -=,  *=,  /=,  //=,  **=,  &=,  |=,  ^=,  >>=,  <<=

In [23]:
a= 10

In [24]:
# Addition AND (+=)
a += 10
print (a)

a = 10

a += 10         #add AND
print(a)

#subtract AND (-=)

#Multiply AND (*=)

#Divide AND (/=)

#Modulus AND (%=)

#Floor Division (//=)

#Exponent AND (**=)

20

# Special Operators

# Identity Operators

**is and is not** are the identity operators in Python.

In [26]:
#They are used to check if two values (or variables) are located on the same part of the memory.

a = 5
b = 5
print(a is b)    #5 is object created once both a and b points to same object

True

In [32]:
#check is not

l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is not l2)

s1 = "Satish"
s2 = "Satish"
print(s1 is s2)

True
True

# MemberShip Operators

**in and not in** are the membership operators in Python. 
    
They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and   dictionary).

In [33]:
lst = [1, 2, 3, 4]
print(1 in lst)       #check 1 is present in a given list or not

#check 5 is present in a given list

True

In [36]:
d = {1: "a", 2: "b"}
print(1 in d)

True

In [38]:
d = {1: "a", 2: "b"}
print("a" in d)    # it works only on Keys and not in value

False

In [41]:
"Okay we are done", "Bye"*2

('Okay we are done', 'ByeBye')